@model IEnumerable<DevIO.App.ViewModels.ProdutoViewModel>


<table class="table shadow p-3 bg-white rounded">
    <thead class="table-light" style="color:#3f3593">
        <tr>
            <th>
                Foto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/imagens/@item.Imagem" alt="@item.Imagem" style=" width:50px; height:50px" />
                </td>
                @*<td>
                    @item.Id.ToString().Substring(0, 4)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                </td>
                <td>
                    @item.Valor.ToString("C")
                </td>
                <td>
                    @if (item.Ativo == true)
                    {
                        <div class="shadow-sm" style="background-color:#4f794e; text-align:center; border-radius:25px; color:aliceblue">
                            <small>ATIVO</small>
                        </div>
                    }
                    else
                    {
                        <div class="shadow-sm" style="background-color:#b25454; text-align:center; border-radius:25px; color:aliceblue">
                            <small>INATIVO</small>
                        </div>
                    }
                </td>
                <td class="text-right">
                    <a class="btn btn-group btn-light shadow p-3 bg-white rounded" style="width:50px; height:50px" asp-controller="Produtos" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-search text-info"></i></a>
                    <a class="btn btn-group btn-light shadow p-3 bg-white rounded" style="width:50px; height:50px" asp-controller="Produtos" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen text-warning"></i></a>
                    <a class="btn btn-group btn-light shadow p-3 bg-white rounded" style="width:50px; height:50px" asp-controller="Produtos" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
