@model DevIO.App.ViewModels.FornecedorViewModel
@using DevIO.App.Extensions


@{
    ViewData["Title"] = "Detalhes do Fornecedor";
}

<h1 class="text-center text-secondary">@ViewData["Title"] </h1>

<div class="p-2">
    <div class="card-header mt-3 text-secondary mb-3  font-weight-bold">Dados Fornecedor</div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @if (Model.Documento.Length == 11)
            {
                <h6><b>CPF</b></h6>
            }
            else
            {
                <h6><b>CNPJ</b></h6>
            }
        </dt>
        <dd class="col-sm-10">
            @this.FormataDocumento(Model.TipoFornecedor, Model.Documento)
        </dd>
        <dt class="col-sm-2">
            Tipo
        </dt>
        <dd class="col-sm-10">
            @if (Model.TipoFornecedor == 1)
            {
                <div>
                    <h6>Pessoa Física</h6>
                </div>
            }
            else
            {
                <div>
                    <h6>Pessoa Jurídica</h6>
                </div>
            }
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @if (Model.Ativo == true)
            {
                <div class="shadow-sm" style="background-color:#4f794e; text-align:center; border-radius:25px; color:aliceblue; width:10%;">
                    <small>ATIVO</small>
                </div>
            }
            else
            {
                <div class="shadow-sm" style="background-color:#b25454; text-align:center; border-radius:25px; color:aliceblue; width:10%;">
                    <small>INATIVO</small>
                </div>
            }
        </dd>
    </dl>

    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <a class="btn" href="javascript:window.history.back();">Voltar</a>
    </div>

    <div class="card-header mt-3 text-secondary mb-3 font-weight-bold">Dados Endereço</div>

    <partial name="_DetalhesEndereco" />
</div>

